.footer {
    background-color: #000;  
    color: #fff;       
    text-align: center;             
}
  
.footer-content img {
    max-height: 39.44px;  
    margin-bottom: 10px; 
    padding-top: 66px;
}
  
.footer-content p {
    padding-bottom: 29px;
}