.banner {
    position: relative;
    height: 223px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px; 
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-left: 100px;
    margin-right: 100px;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3); 
        mix-blend-mode: darken;
        z-index: 0;
    }
}
  
.banner-text {
    color: white;
    z-index: 1;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}