.slideshow-container {
    position: relative;
    width: 100%; 
    max-height: 600px;
    border-radius: 25px;
    overflow: hidden;
    
    .img-slide {
        width: 100%; 
        display: block;
        transition: opacity 0.5s ease-in-out;
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 46.68px;
        height: 79.2px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        z-index: 10;
    }
    
    .left-arrow {
        left: 25.96px;
    }

    .right-arrow {
        right: 25.96px;
    }

    .numeration {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        color: white;
        font-weight: 500;
        margin-bottom: 24.92px;
    }

}


@media (max-width: 768px) {

    .slideshow-container {
        max-height: 255px;
        border-radius: 10px;

        button img {
            width: 24px;
            height: 24px;
        }

        .left-arrow {
            left: -10px;
        }
    
        .right-arrow {
            right: -10px;
        }
    }

    .numeration {
        display: none;
    }



}