.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #F6F6F6;
    padding-top: 56px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 25px; 
    margin: 100px;
}

@media (max-width: 768px) {
    .cards-container {
        background-color: white;
        padding-top: 0px;
        margin: 0;
    }
}