.global-logement {
    margin: 0 100px 0 100px;
}

.title-logement {
    font-weight: 500;
    font-size: 36px;
    color: #FF6060;
    margin-top: 30px;
    line-height: 51.34px;
}

.logement-location {
    font-weight: 500;
    font-size: 18px;
}