.tag {
    min-width: 115px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF6060;
    color: white;
    border-radius: 10px;
    margin-right: 8px; 
    font-size: 14px; 
    margin-right: 10px;
    font-weight: 700;
    line-height: 19.96px;
}

@media (max-width: 768px) {
    .tag {
        min-width: 84px;
        height: 18px;
        font-size: 10px;
        line-height: 14.26px;
    }
    


}